{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col mx-auto mb-3">
                <h2>Hidden Movies</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            {% for hidden_movie in template_data.movies %}
                <div class="col-md-4 col-lg-3 mb-2">
                    <div class="p-2 card align-items-center pt-4">
                        <img src="{{ hidden_movie.image.url }}" class="card-img-top rounded img-card-200">
                        <div class="card-body text-center">
                            <a href="{% url 'movies.show' id=hidden_movie.id %}" class="btn bg-dark text-white">
                            {{ hidden_movie.name }}
                            </a>
                            <form method="POST" action="{% url 'movies.unhide_movie' hidden_movie.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger mt-2">Unhide</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}